section.amazonheader {
    padding:10px 0px 10px 0px;
    background:linear-gradient(45deg, #c4efe4, #c5f0e5);
    background:#000
}
.header {
    margin: auto;

}
.logo img{
    width: 155px;
    cursor: pointer;
}
.logo .menus {
    padding: 0 2pc;
}
.logo {
    font-family: inter;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    letter-spacing: 0.4px;
    display: flex;
    place-content:center;
    align-items: center;
}
.logo b {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}
.menu button {
    border: 0;
    text-align: start;
    color: #5e5d5d;
    align-items: center;
    display: flex;
    padding: 0pc 15px 0px;
    font-weight: 500;
    font-family: inter;
    font-size: 13px;
    width: 100%;
    height: 37px;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px 0 0 5px;
}
.search .menu button mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    position: relative;
    padding: 0;
    top:0px;
    left: 10px;
    color: #555554 !important;
}
.menu button span mat-icon {
    position: relative;
    padding: 0;
    top: 12px;
    left: 20px;
    float: right;
}
::ng-deep .menu button span.mat-button-wrapper{
    width: 100%;
    font-size: 13px;
    color: #555554;
    font-weight: 400;
    font-family: "Cabin", sans-serif;

}
.search {
    border: 1px solid #ddd;
    background: #ffffff;
    border-radius: 5px ;
}
.menu {
    background: #f8f8f8;
    height: 37px;
    border-right: 1px solid #ddd;
    border-radius: 5px 0px 0px 5px;
}
.search form{
    height: 37px;
    display: flex;
}
.search input {
    width: 90%;
    border: 0;
    padding: 0px 0pc 0 1pc;
    height: 37px;
    position: relative;
    top: 1px;
    font-family: "Open Sans", sans-serif;
}

.search mat-icon.mat-icon {
    
    font-size: 14px;
    height: 37px;
    line-height: 37px;
    padding: 0px 1px;
    color: #b2aaa5 !important;
}
form.example-form mat-icon.mat-icon {
    color: #000;
    z-index: 1;
    margin: 1px;

}
:focus{
    outline: transparent;
}
.mat-option{
    height: 40px;
    font-size: 12px;
    line-height: 40px;
}
::ng-deep .mat-menu-panel.menu_category {
    min-width: auto;
    max-width: max-content;
    border-radius: 4px;
    outline: 0;
    height: 500px;
    width: 700px;
}
::ng-deep .menu_category .mat-menu-content {
    display: flex;
    flex-wrap: wrap;
}
::ng-deep .menu_category button.mat-menu-item {
    width: 33%;
    height: 45px;
    font-size: 12px;
    line-height: 45px;
    text-transform: capitalize;
    letter-spacing: 0.1px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
::ng-deep .menu_category button.mat-menu-item:hover {
    background: transparent;
    color: #4571eb;
}
::ng-deep .menu_category button.mat-menu-item mat-icon {
    width: auto;
    height: auto;
    font-size: 14px;
    height: auto;
    margin: 1px 4px;
}
.menus {
    width: 100%;
    display: flex;
}
.logo .menus ul {
    place-content: start;
}
.menus ul {
    list-style: none;
    display: flex;
    float: right;
    align-items: center; 
   place-content: end;
    margin: 0;
    padding: 0;
    width: 100%;
}
.menus ul li {
    font-size: 14px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    padding: 0px 1pc;
    cursor: pointer;
    font-weight: 300;
    letter-spacing: 0;
}
.menus ul li span:hover{
    color:#fdd574;
}
ul li span {
    width: 100%;
    display: block;
}
.menus ul li button {
    background:#ffc63a;
    border: 0;
    padding: 8px 13px;
    color: #fff;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
}
.amazonheader1 .search mat-icon.mat-icon {
      padding: 0 10px;
}
//sidenav
.mobile-view section.amazonheader{
    padding: 0;
}
.mobile-haeder .logo-review{
      width: 100%;
  }
.mobile-haeder .search{
    width: 90%;
    margin: 5px auto 0;
    background: #fff;
}
.mobile-haeder .search input {
    width: 89%;
    border-radius: 0px 5px 5px 0;
}

span.loginli mat-icon.mat-icon {
    width: 23px;
    font-size: 15px;
    height: auto;
    padding: 5px;
}
span.loginli {
    color: #fff;
    display: flex;
    place-content: end;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    padding: 8px 0 5px;
}
span.loginli mat-icon.mat-icon {
    width: 23px;
    font-size: 15px;
    height: auto;
    padding: 5px;
}
.mobile-haeder .menus ul li {
    padding: 0px 0pc;
}
.top-head {
    padding:0.5pc 0 0.5pc;
    background: #000;
}
.menus ul li img {
   width:26px;
   margin:0px 8px;
}
.menusLogin img {
    width: 130px;
    padding: 0px;
}
.menusLogin {
    background: #000;
    display: flex;
    flex-direction: column;
}
.cate-sidenav button {
      font-size: 13px;
    text-align: start;
    border: 0;
    font-family:'Cabin';
    height: 45px;
    line-height: 45px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
.cate-sidenav button mat-icon {
    font-size: 15px;
    height: auto;
}
.mobile-haeder .search {
    border-radius: 5px;
}
::ng-deep .mobile-haeder mat-drawer-container.mat-drawer-container.mat-drawer-transition.mat-drawer-container-has-open mat-drawer-content.mat-drawer-content {
    height: 100vh;
}
::ng-deep .layoutheader-mobile mat-drawer-content.mat-drawer-content {
    overflow: hidden;
}

::ng-deep .mobile-haeder mat-drawer-container.mat-drawer-container.example-container {
    width: 100%;
}
.example-sidenav-content {
    flex-direction: column;
}

.example-sidenav-content button mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    color: #fff;
}
section.amazonheader.amazonheader2 .mobile-haeder .search{
    width: 100%;
}
section.amazonheader.amazonheader2 .top-head {
    padding:0.5pc 1pc;
}
section.amazonheader.amazonheader2 .mobile-haeder .search input {
    width: 96%;
    border-radius: 0px 5px 5px 0;

}

section.amazonheader.amazonheader3 .menus ul li button {
    padding: 10px 10px;
}
section.amazonheader.amazonheader3 .menus ul li {
    padding: 0px 0.4pc;
}

.mobile-haeder .search mat-icon.mat-icon {
    padding: 0px 0px 0 11px;
    position: absolute;
}
.mobile-haeder .search input {
    padding: 0px 0pc 0 2pc;
}

.amazonheader1 .logo img {
    width: 90%;
}
.amazonheader2 .logo img {
    width: 30%;
}
section.amazonheader.amazonheader3 .menus ul {
    float: left;
    padding: 0;
}
.mobile-haeder .menus {
    place-content: flex-end;
    display: flex;
    align-items: start;
    position: relative;
    top: 6px;
}
// -----------------search------------
img.imgsearch {
    width: 24px;
    height: 24px;
    padding-right: 7px;
    object-fit: cover;
}
button.mat-focus-indicator.searchfield.mat-menu-item {
    display: flex;
    place-content: start;
    align-items: center;
    padding: 0;
    font-size: 13px;
    padding: 0px 0px;
    font-family: inter;
    letter-spacing: 0.4px;
    border: 0;
}
.mat-menu-content a {
    width: 33%;
    height: 45px;
    font-size: 12px;
    line-height: 45px;
}


@media screen and (min-width: 220px) and (max-width: 400px) {
 .logo img {
    width:75% !important;
}
}
.amazonheader1 .logo img {
    width:65% !important;
    display: block;
    position: relative;
    top: -2px;
}

.topicon {
    position: fixed;
    right: 7px;
    bottom: 20px;
    background: #000;
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    place-content: center;
    align-items: center;
    padding: 0px;
    cursor: pointer;  
    text-decoration: none;
}
.topicon mat-icon {
    font-size: 17px;
    text-align: center;
    display: flex;
    place-content: center;
    align-items: center;
    font-weight: 100;
}
.example-sidenav-content button {
    padding: 0;
}