<div class="desktop-view" *ngIf="!isMobile()" id="logohead">
    <section class="amazonheader" fxLayout="row" fxLayoutAlign="start center" ngClass.xs="amazonheader1"
        ngClass.sm="amazonheader2" ngClass.md="amazonheader3">
        <div class="header" fxLayout="row" fxFlex.xs="588" fxFlex.sm="590px" fxFlex.md="950px" fxFlex.lg="1270px"
            fxFlex.xl="1800px">
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="start center" fxFlex="100%">
                <div   class="logo" fxFlex="37%">
                   <img routerLink="/" src="/assets/images/reviewLogo.png">
                    <div class="menus">
                        <ul>
                            <li><span routerLink="/all-blogs">Blog</span></li>
                            <li><span routerLink="/all-movies">Movies Review</span></li>
                        </ul>
                    </div>
                </div>
                <div class="search" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="100%" fxLayout="row"
                    fxLayoutAlign="start center">
                    <div class="menu" fxFlex="30%" fxFlex.xs="33%" fxFlex.sm="35%">
                        <button class="allcates" mat-button [matMenuTriggerFor]="menu">
                            All Category<mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" class="menu_category">
                            <button *ngFor="let category of categories" mat-menu-item
                               (click)="catgoryPage(category.categorylink)">
                                {{category.categoryname}}
                            </button>
                        </mat-menu>
                    </div>
                    <form class="example-form search-auto" fxFlex="70%" fxFlex.xs="67%" fxFlex.sm="65%">
                        <input type="text" placeholder="search" aria-label="Number" matInput [formControl]="myControl"
                            [matAutocomplete]="auto">
                        <mat-icon>search</mat-icon>

                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of options" [value]="option.name">
                                <button class="searchfield" mat-menu-item [routerLink]="option.link">
                                    <img class="imgsearch" src={{option.image}}>{{option.name}}
                                </button>
                            </mat-option>
                        </mat-autocomplete>
                    </form>
                </div>
                <div class="menus" fxFlex="23%">
                    <ul>
                        <li><span routerLink="/login">Login</span></li>
                        <li routerLink="/review"><button>Write Review</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <router-outlet></router-outlet>
</div>

<!-----mobile-view-->
<div class="mobile-view" *ngIf="isMobile()">
    <section class="amazonheader" fxLayout="row" fxLayoutAlign="start center" ngClass.xs="amazonheader1"
        ngClass.sm="amazonheader2" ngClass.md="amazonheader3">
        <div class="mobile-haeder" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="start center"
            fxFlex="100%">
            <mat-drawer-container class="example-container" autosize>
                <mat-drawer #drawer class="example-sidenav" mode="over">
                    <div class="cate-sidenav" fxLayout="column">
                        <div class="menusLogin">
                            <span routerLink="/login" class="loginli">Login <mat-icon>person_outline</mat-icon>
                            </span>
                            <span routerLink="/"> <img src="/assets/images/logoo.png"></span>
                        </div>
                        <a *ngFor="let category of categories">
                            <button mat-menu-item [routerLink]="category.categorylink">
                                {{category.categoryname}}
                            </button>
                        </a>
                    </div>
                </mat-drawer>
                <div class="example-sidenav-content">
                    <div class="top-head">

                        <div class="logo-review" fxLayout="row">
                            <div fxFlex="20%" fxFlex.sm="10%" class="example-sidenav-content">
                                <button type="button" mat-button (click)="drawer.toggle()">
                                    <mat-icon>menu</mat-icon>
                                </button>
                            </div>
                            <div class="logo" fxFlex="60%" fxFlex.sm="70%">
                                <!-- <a routerLink="/"> <b>Reviews</b><br /><span>Stackasian</span></a> -->
                                <span routerLink="/"> <img src="/assets/images/logoo.png"></span>

                            </div>
                            <div class="menus" fxFlex="20%" fxFlex.sm="20%">
                                <ul>
                                    <li routerLink="/review">
                                        <img src="/assets/images/blog.png">
                                    </li>
                                    <li routerLink="/all-blogs">
                                        <img src="/assets/images/review-icon.png">
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="search">
                            <form class="example-form" fxFlex="100%">
                                <mat-icon>search</mat-icon>
                                <input type="text" placeholder="search" aria-label="Number" matInput
                                    [formControl]="myControl" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of options" [value]="option.name">
                                        <button class="searchfield" mat-menu-item [routerLink]="option.link">
                                            <img class="imgsearch" src={{option.image}}>{{option.name}}
                                        </button>
                                    </mat-option>
                                </mat-autocomplete>
                            </form>
                        </div>
                    </div>
                    <router-outlet></router-outlet>
                </div>

            </mat-drawer-container>

        </div>
    </section>
</div>


<a  href="#logohead" class="topicon" >
    <mat-icon>keyboard_arrow_up</mat-icon>
</a>