<div class="new-featured-amazon arrive topdeal">
    <div class="new featured-amazon" fxLayout="column" fxFlex.xs="588" fxFlex.sm="590px" fxFlex.md="950px"
        fxFlex.lg="1270px" fxFlex.xl="1910px">
        <div class="new-featured-amazon arrive blog">
            <div class="blog-data" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <div *ngFor="let movie of movies" class="movie-featured" fxLayout="column" fxFlex="25%">
                    <div class="headingMovie">
                        <div class="headingMovieTwo" fxLayout="column" fxLayout.xs="column">
                            <a href={{movie.productLink}} target="_blank">
                                <img src={{movie.image}}></a>

                            <div class="overrate" fxFlex.xs="100%" fxFlex="100%">
                                <div class="review">
                                    <mat-icon>star_border</mat-icon>
                                    <span>( {{movie.averageUserRating}}/5)</span>
                                </div>
                                <h1 class="Mname"> {{movie.productName}}</h1>
                                <a> See Full Detail </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>