.new.featured-amazon {
    margin:0pc auto;
}
.movie-featured {
    padding: 10px 10px 15px;
    margin-bottom: 10px;

}
.blog-data img {
    width: 100%;
    border-radius: 5px ;
    height: 200px;
    object-fit: cover;
}
.headingMovieTwo {
    color: #fff;
}

.overrate {
    padding:0px ​4px 1.5pc;
    
}
.blog-data {
    flex-wrap: wrap;
}
h1.Mname {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    text-transform: lowercase;
    letter-spacing: 0.3px;
    line-height: normal;
}
h1.dname {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
.overrate a {
    text-align: center;
    display: block;
    font-weight: 300;
    letter-spacing: 0.2px;
    padding: 8px 0pc 0;
    color: #11cfac;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;

}
.overrate a:hover {
    color: #70b3d3 !important;
    text-decoration: underline;
}
.review {
    display: flex;
    padding: 7px 0;
    font-weight: 300;
    align-items: center;
}
.headingMovieTwo .overrate h1.Mname a {
    color: #fff;
    font-size: 16px !important;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;  
      padding: 2px 0 0px ;
}
.overrate {
    padding:0 5px 0.5pc;
}
.overrate mat-icon.mat-icon {
    font-size: 13px;
    height: auto;
    width: auto;
    position: relative;
    top: 3px;
}

.review mat-icon.mat-icon {
    font-size: 18px;
    height: auto;
    width: auto;
    position: relative;
    top: 2px;
    margin:0px 3px 0 0;
    color: #ffc800;
}
h1.Mname::first-letter {
    text-transform: uppercase;
}
.loader{
    width: 501px;
    height: auto;
    padding:8pc 0 11pc;
    margin: 0 auto;
    display: block;
}
.loaderload{
    min-height: 100vh;
    background: #292929;
}
.new-featured-amazon.arrive.topdeal {
    background: #363636;
    background: #292929;
}
.single-line b.home {
    cursor: pointer;
}
.single-line b {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #d9d9d9;
    letter-spacing: 0.5px;

}
.single-line mat-icon {
    font-size: 15px;
    height: auto;
    width: 25px;
    text-align: center;
    color: #f8f8f8;
    position: relative;
    top: 4px;
}
.top-line {
    padding:20px 20px 15px;
}
.new-featured-amazon.arrive.topdeal.amazonhome5 {
.review mat-icon.mat-icon {
        font-size: 22px;    top: 0px;
}
.review {
    font-size: 14px;
    color: #bfbfbf;
}
h1.Mname {
    font-size: 16px;
    }
h1.dname {
        font-size: 13px;
}
.overrate a {
    font-size: 14px;
}
}
    
    
    @media only screen and (min-width: 1900px) and (max-width: 9000px){
        .review mat-icon.mat-icon {
            font-size: 22px;    top: 0px;
    
    }
    .review {
        font-size: 20px;
    }
    h1.Mname {
        font-size: 21px;
        }
    h1.dname {
            font-size: 18px;
    }
    .overrate a {
        font-size: 17px;
    }
    }

::ng-deep .movietab .mat-tab-label {
        height: auto;
        padding: 10px 20px;
        cursor: pointer;
        opacity: 1.6;
        font-family: 'Open Sans';
        background: #fff;
        border-radius: 75px;
        margin: 25px 5px 5px;
        min-width: auto;
        box-shadow: 0px 0px 3px 2px #4a4848;
        border: 1px solid #afafaf;
    }
::ng-deep .movietab .mat-ink-bar {
        height: 0px;
}
::ng-deep  .movietab .mat-tab-label.mat-focus-indicator:hover {
    background: #ebcb7c;
}
::ng-deep .movietab .mat-tab-label.mat-focus-indicator.mat-tab-label-active {
        border: 1px solid #ffc63a;
        background: #ffc63a;
}
