.new.featured-amazon {
    margin: 2pc auto;
}
.movie-featured {
padding: 10px;
}
.blog-data img {
    width: 100%;
    border-radius: 5px 5px 0 0;

}
.headingMovieTwo {
    background: #141414;
    color: #fff;
    border-radius: 5px;
}
.overrate {
    padding:0px 4px 1pc;
}
.blog-data {
    flex-wrap: wrap;
}
h1.Mname {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight:600;
    margin: 0;
    text-transform: lowercase;
    letter-spacing: 0.3px;
    text-align: center;
    height: 55px;
    line-height: normal;
}
.overrate a {
    text-align: center;
    display: block;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 10px 1.1pc;
    color: #718285;
    background: #282828;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0px auto 5px;
    border-radius: 5px;
    cursor: pointer;
}
.overrate a:hover {
    color: #70b3d3 !important;
}
.review {
    display: flex;
    place-content: center;
    align-items: center;
    padding: 10px 0;
    font-weight: 300;
}
.review mat-icon.mat-icon {
    font-size: 18px;
    height: auto;
    width: auto;
    position: relative;
    top: 2px;
    margin:0px 3px 0 0;
    color: #ffc800;
}
h1.Mname::first-letter {
    text-transform: uppercase;
}
