<div class="new-featured-amazon arrive topdeal">
    <div class="new featured-amazon" fxLayout="column" fxFlex.xs="588" fxFlex.sm="590px" fxFlex.md="950px"
        fxFlex.lg="1270px" fxFlex.xl="1910px">
        <div class="new-featured-amazon arrive blog">
            <div class="blog-data" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <div *ngFor="let blog of blogs" class="blog-featured" fxLayout="column" fxFlex="33%">
                    <div class="blog-img1" [style.background]="'url(' + blog.image + ')'"></div>
                    <div class="date" fxLayout="row">
                        <h6>
                            <mat-icon>person</mat-icon>By {{blog.author}}
                        </h6>
                        <h6>
                            <mat-icon>date_range</mat-icon>FEB 17,2020
                        </h6>
                    </div>
                    <div class="heading-product">
                        <h1> {{blog.title}}</h1>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">

                     
                        <div class="heading-product" fxFlex="60%">
                            <!-- <h1> {{blog.title}}</h1> -->
                            <h5>{{blog.productName}}</h5>
                            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                                <div class="price">
                                    <!-- <u> ₹{{product.originalPrice}} </u> -->
                                    ₹ {{blog.price}}
                                </div>
                                <div class="star" fxLayout="row">
                                    <div class="review">
                                        <mat-icon>star</mat-icon>
                                        <mat-icon>star</mat-icon>
                                        <mat-icon>star</mat-icon>
                                        <mat-icon>star</mat-icon>
                                        <mat-icon>star</mat-icon>
                                    </div>
                                    <div class="viewer">
                                        <b>( {{blog.reviews}} Reviews)</b>
                                    </div>
                                </div>
                            </div>
                            <div class="reviewviewicon">
                                <div class="viewer">
                                    <mat-icon>visibility</mat-icon>
                                    <b>{{blog.views}} (Product View)</b>
                                </div>
                            </div>
                            <p *ngFor="let paragraph of blog.paragraphs">
                                {{paragraph.para}}
                            </p>




                        </div>
                    </div>
                    <div class="heading-product">
                   
                        <button class="buy">
                            <a target="blank" href="{{blog.productLink}}">
                                <mat-icon>play_arrow</mat-icon>Buy Now
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>