.slide{
    background-position: center;
    background-size: cover;
    height: 600px;
    background: #F1F6F7;
    position: relative;
    margin-bottom: 10px;
}
section.home{
    background:#fafafa;
}
.slide:before {
    content: "";
    display: block;
    width: 40%;
    height: 100%;
    background:#384aeb;
    position: absolute;
    top: 0;
    left: 0;
}
//heading
.heading {
    padding-bottom: 1.5pc;
    padding-left: 1pc;
    text-align: center;
}
.heading p {
    font-family: inter;
    font-size: 13px;
    margin: 0;
    font-weight: 500;
}
.heading h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    font-weight: 800;
    letter-spacing: 0.5px;
}

// .heading h1 span{
//     border-bottom: 2px solid #4571eb;
// }
//5cat

.cate-amazon img {
    width: 97%;
     height: fit-content; 
    margin: 8px;
}

.cate-amazon a {
    text-decoration: none;
    border-bottom: 1px solid;
    color: #454443;
    font-size: 14px;
    font-family: "Cabin", sans-serif;
    letter-spacing: 0.5px;
}
.cate-amazon a:hover {
    color: #d50890 !important;
}

.two-cate img {
    height: 230px;
    object-fit: cover;
}
.allcate {
    background-position: center;
    background-size: cover;
    height: 250px ;
    margin: 10px;
    display: flex;
    place-content: center;
    align-items: start;
    flex-direction: column;
    padding: 0 2pc;    border-radius: 3px;

}
.left1{
background: url(../../../assets/images/deal01.jpg);
background-position: center;
background-size: cover;
height: 520px;
margin: 10px;
display: flex;
place-content: start;
align-items: start;
flex-direction: column;
padding: 4pc 5pc;
border-radius: 3px;

}
.right1{
    background: url(../../../assets/images/banner2.jpg);
    background-position: center;
    background-size: cover;
}
.right2{
    background: url(../../../assets/images/deal3.jpg);
    background-position: center;
    background-size: cover;
}
.right11{
    background: url(../../../assets/images/banner4.jpg);
    background-position: center;
    background-size: cover;
}
.right12{
    background: url(../../../assets/images/banner5.jpg);
    background-position: center;
    background-size: cover;
}
.cate-amazon b {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    border-bottom: 1px solid #030303;
}
.cate-amazon h1 {
    font-size: 20px;
    font-weight: 900;
    padding: 4px 0 0;
    font-family: "Cabin", sans-serif;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #414141;
    text-transform: capitalize;
}
.cate-amazon p {
    font-size: 15px;
    font-weight: 500;
    font-family: "Cabin", sans-serif;
    padding: 0px;
    color: #666460;
    letter-spacing: 0.75px;
    line-height: 21px;
}

/////banner
.slide1-img img {
    border-radius: 3px;
    width: 100%;
}
.slide1-img h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 5px;
    font-family: inter;
}
.slide1-img p {
    font-size: 12px;
    padding: 4px 10px;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
}
.slide1-img p mat-icon {
    font-size: 12px;
    height: auto;
    width: auto;
    position: relative;
    top: 1.5px;
    color: #36332c;
}
.img-slider {
    padding: 1%;
    margin: 0 auto;
    border-radius: 3px;
    padding: 0px;
}
///cate-
button.more mat-icon {
    animation: mymoved infinite;
    animation-duration: 6s;
}
@keyframes mymoved {
    from {left: 0px;}
    to {left: 6px;}
  }
.new-featured-amazon {
    margin: auto;
    padding: 5pc 0 2pc;
}
.cate-amazon {
    margin: auto;
}
.Product-featured {
    flex-wrap: wrap;
}
.newatricel h1 {
    background: #ff583d;
    font-size: 11px;
    padding: 5px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: #fff;
    line-height: 25px;
    float: right;
    margin: 0px 5px 0;
    position: relative;
    z-index: 1;
}
.newatricel-off{
    width: 100%;
    text-align: center;
}
.newatricel-off h1{
    background: #4ed15e;
    font-size: 11px;
    padding: 5px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: #fff;
    line-height: 25px;
    float: right;
    margin: 0px 5px 0;
    position: relative;
    z-index: 1;
}
.newatricel {
    width: 100%;
    text-align: center;
}
.Product-featured .Product {
    width: 23.2%;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    margin: 0px 0.7pc 25px;
    border-radius: 5px;
    background: #fff;
}
.product-data {
    place-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding:0px 0;
    width: 100%;
}
.product-data a {
    width: 200px;
    display: flex;
    place-content: center;
    align-items: center;
    height: 200px;
    object-fit: cover;
}
.Product h4 {
    text-align: center;
    font-family: inter;
    font-family: "Open Sans", sans-serif;
    font-size: 12.5px;
    line-height: 18px;
    font-weight: 700;
    padding:7px 10px 0;
    margin-bottom: 0px;
}
.price {
    padding: 4px 0;
    font-family: inter;
    font-weight: 500;
    color: #45d7eb;
    font-size: 12px;
}
.price u {
    text-decoration: line-through;
    color: #999696;
}
.star mat-icon {
    width: auto;
    color: #ffc400;
    font-size: 11px;
    margin: 1px;
    position: relative;
    top: 5px;
}
.reviewd p {
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-family: "Cabin", sans-serif;
    color: #6e6e6e;
}
.img {
    display: flex;
    align-items: center;
}
.img img {
    width: 20px;
}
.img b {
    font-family: "Open Sans", sans-serif;
    padding: 0px 4px;
    font-weight: 600;
    font-size: 14px
}
.start {
    padding: 17px 15px 12px 15px;
}
.twocart-btn button mat-icon {
    font-size: 14px;
    height: auto;
    width: 20px;
    position: relative;
    top: 1px;
}
.iconview:hover{
    // background:#ffaa8e;
    background:#6271e3;
}
button:hover {
    background: red;
}
button {
    border: 0;
    background: #4a3434;
    padding: 0px 10px;
    border-radius: 30px;
    color: #ffffff;
    height: 37px;
    width: 37px;
    font-family: "Open Sans", sans-serif;
    margin: 0px 5px 15px;
    font-size: 14px;
    letter-spacing: 0;
    display: flex;
    cursor: pointer;
    align-items: center;
    place-content: center;
    border: 2px solid #eae7e7;
    box-shadow: 0px 0px 8px #ddd;
}
button.more:hover {
    color: #413b3b;
}
button.more mat-icon {
    font-size: 10px;
    height: auto;
    width: auto;
    position: relative;
    left: 2px;
    top: 1px;
}
.date h6 {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0;
    width: 50%;
    color: #393838;
}
.blog-featured h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    padding: 0px 10px;
}
.blog-img1{
background: url('https://footwearnews.com/wp-content/uploads/2018/02/online-shopping.jpg?w=700&h=437&crop=1');
height: 300px;
background-position: center;
background-size: cover;
width: 100%;
}
.blog-img2{
    background: url('https://cdn.cnetcontent.com/syndication/mediaserverredirect/b1cc83a25da2e57e450fbea92886a9d0/original.jpg');
    height: 300px;
    background-position: center;
    background-size: cover;
    width: 100%;
}
.blog-img3{
        background: url('https://etimg.etb2bimg.com/photo/66182971.cms');
        height: 300px;
        background-position: center;
        background-size: cover;
        width: 100%;
}
.date h6 mat-icon {
    font-size: 12px;
    height: 10px;
    width: 16px;
    color: #ffac00;
}
.blog-featured p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 22px;
    padding: 0px 10px;
    color: #6e6a6a;
    height: 110px;
}
.blog-featured a {
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    font-size: 14px;
    color:#3fe2f4;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
.blog-featured a mat-icon {
    position: relative;
    animation: mymove infinite;
    animation-duration: 6s;
}
.new-featured-amazon.topdeal .star span {
    font-size: 11px;
    color: #817a7a;
    font-family: sans-serif;
    position: relative;
    top: -1.6px;
}
.new-featured-amazon.topdeal .star {
    place-content: center;
    align-items: center;
    display: flex;
}

  .new-featured-amazon.arrive.blog {
    padding-bottom: 5pc;
}
.new-featured-amazon.allbanner {
    padding: 2pc 0 4pc;
}
.new-featured-amazon.topdeald button {
    background: #ffffff;
    color: #000000;
    margin: 0px 5px 7px;
}.new-featured-amazon.topdeal .Product:hover {
    box-shadow: 0px 1px 4px 0px #ddd;
    /* border-radius: 19px; */
}
.new-featured-amazon.topdeal .Product:hover .twocart-btn {
    opacity: 1;
}
.new-featured-amazon.topdeal .twocart-btn {
     opacity: 0;
    margin: 0.4pc 0 0;
}
.new-featured-amazon.topdeal .newatricel {
    position: relative;
    top: 1.1pc;
}

.new-featured-amazon.topdeal .newatricel-off{
    position: relative;
    top: 1.1pc;
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 10px;}
  }
.blog-featured img {
    width: 100%;
}
.blog-featured {
    margin: 20px;
}
.new-featured-amazon.topdeal {
    padding: 2pc 0 2pc;
}
.new-featured-amazon.topdeal  .product-data
{
    padding: 0;
}
.new-featured-amazon.topdeal .heading {
    padding-bottom: 0pc;
}
.new-featured-amazon.topdeal .Product-featured .Product {
    width: 19%;
    margin: 0.5%;
}
section.home.amazonhome1 .slide:before {
    width: 100%;
}
section.home.amazonhome1 .slide-img {
    display: none !important;
}
section.home.amazonhome1 .slide-text{
    padding: 0px 1.5pc;
    position: relative;
    color: #fff;
}
section.home.amazonhome1 .slide{
    height:400px;
}
section.home.amazonhome1 .slide-text button {
    background: #fdfdfd;
    color: #252323;
}
section.home.amazonhome1 .Product-featured .Product {
    width: 100%;
    margin: 20px 0;
    margin: 9px auto 9px;
}
section.home.mobile-home.amazonhome2 {
    background: #fff;
}
section.home.mobile-home.amazonhome2 {
    background: #fff;
}
section.home.amazonhome2 .Product-featured .Product {
    width: 33%;
}
section.home.amazonhome3 .Product-featured .Product {
    width: 30.9%;
}
section.home.amazonhome1 .start{
    padding: 17px 7px 12px 7px;
}

section.home.amazonhome1 .new-featured-amazon {
    padding: 2pc 0 2pc;
    margin: 0px 1pc;
    background: #fff;
}
section.home.amazonhome2 .new-featured-amazon {
    padding: 2pc 0 0pc;
}

section.home.amazonhome2 .slide-text {
    padding: 0px 3pc;
}

section.home.amazonhome1 .blog-featured .blog-img1 {
    height: 185px;
    object-fit: cover;
}
section.home.amazonhome2 .blog-featured .blog-img1 {
    height: 250px;
    object-fit: cover;
}
section.home.amazonhome2 .new-featured-amazon.allbanner {
    display: none !important;
}
section.home.amazonhome1 .allcate {
    height: 200px;
    padding: 0 1pc;
}
section.home.amazonhome1 .left1 {
    padding: 1pc;
}
section.home.amazonhome2 .left1 {
    padding: 1pc;
}
section.home.amazonhome2 .allcate {
    padding: 0 1pc;
}

section.home.amazonhome1 .cate-amazon h1 {
    font-size: 15px;
    line-height: 18px;
    font-weight: 900;
}
section.home.amazonhome1 .cate-amazon a {
    font-size: 12px;
    font-weight: 900;
}
section.home.amazonhome1 .new-featured-amazon.topdeal .Product {
    width: 49% !important;
    margin: initial;
}
section.home.amazonhome1 .new-featured-amazon.topdeal .twocart-btn {
     opacity: 1; 
     display: none !important;

}
section.home.amazonhome2 .new-featured-amazon.topdeal .twocart-btn {
    opacity: 1; 
    display: none !important;
}

// section.home.amazonhome1 .new-featured-amazon.topdeal button.iconview {
//     background: #4571eb;
// }
// section.home.amazonhome1 .new-featured-amazon.topdeal button {
//     background: #fea03b;
//     border-radius: 5px;

// }


section.home.amazonhome1 .product-data a {
    width: 170px;
}
section.home.amazonhome1 .product-data a img {
    width: 55%;
}
.twocart-btn.mobile button {
    width: auto;
    height: 45px;
    padding: 0px 16px;
    background:#ff9f0d;

    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: none;
    border: 0;
}
.twocart-btn.mobile button.iconview{
    background: #4571eb;

}

section.home.amazonhome2 .two-cate.lastline{
    display: none !important;
}

::ng-deep .mobile-view .carousel {
    height: 550px !important;
    background: #fff;
}
::ng-deep .carousel-slide-content{
    background: #fff;
}
section.home.amazonhome1  .product-data{
    padding: 0px 0;
}
::ng-deep .mobile-view button.mat-focus-indicator.mat-icon-button.mat-button-base.mat-accent span.mat-button-wrapper {
    color: transparent !important;
}

section.home.amazonhome1 .blog-featured p {
    height: auto;
}
section.home.amazonhome2 .blog-featured p {
    height: auto;
}
section.home.amazonhome3 .blog-featured p {
    height: 140px;
}
section.home.amazonhome3 .left1 {
    padding: 4pc 1pc;
}
section.home.amazonhome3 .allcate {
    padding: 0 1pc;
}
.topdeald {
    background: #fff;
    margin: 0 auto;
    width: 100%;
    display: block;
}
.new.featured-amazon {
    margin: 0 auto;
}