.slide{
    background-position: center;
    background-size: cover;
    height: 600px;
    background: #F1F6F7;
    position: relative;
    margin-bottom: 10px;
}
section.home{
    background:#fbfbfb;
}
.slide:before {
    content: "";
    display: block;
    width: 40%;
    height: 100%;
    background:#384aeb;
    position: absolute;
    top: 0;
    left: 0;
}
//heading
.heading {
    padding-bottom: 2pc;
    padding-left: 1pc;
    text-align: center;
}
.heading.categorieshead {
    padding: 0;
}
.heading p {
    font-family: 'Cabin';
    font-size: 15px;
    margin: 0;
    font-weight: 500;
    color: #797979;
    letter-spacing: 0.5px;
}

.heading h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0.5px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 6px 0 0;
}

// .heading h1 span{
//     border-bottom: 2px solid #4571eb;
// }
//5cat

.cate-amazon img {
    width: 97%;
     height: fit-content; 
    margin: 8px;
}

.cate-amazon a {
    text-decoration: none;
    border-bottom: 1px solid;
    color:#202020;
    font-size: 12px;
    font-family: "Cabin", sans-serif;
    letter-spacing: 0.5px;
}
.cate-amazon a:hover {
    color: #f0ae0c !important;
}
.two-cate img {
    height: 230px;
    object-fit: cover;
}
.allcate {
    background-position: center;
    background-size: cover;
    height: 250px ;
    margin: 10px;
    display: flex;
    place-content: center;
    align-items: start;
    flex-direction: column;
    padding: 0 2pc;    border-radius: 3px;

}
.left1{
background: url(../../../assets/images/deal01.jpg);
background-position: center;
background-size: cover;
height: 520px;
margin: 10px;
display: flex;
place-content: start;
align-items: start;
flex-direction: column;
padding: 4pc 3pc;
border-radius: 3px;

}
.right1{
    background: url(../../../assets/images/banner-office.jpg);
    background-position: center;
    background-size: cover;
}
.right2{
    background: url(../../../assets/images/deal3.jpg);
    background-position: center;
    background-size: cover;
}
.right11{
    background: url(../../../assets/images/banner4.jpg);
    background-position: center;
    background-size: cover;
}
.right12{
    background: url(../../../assets/images/banner5.jpg);
    background-position: center;
    background-size: cover;
}
.cate-amazon b {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    border-bottom: 1px solid #030303;
}
.cate-amazon h1 {
    font-size: 18px;
    font-weight: 700;
    padding: 0 0;
    font-family: "Cabin", sans-serif;
    line-height: 24px;
    color: #414141;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
}
.cate-amazon p {
    font-size: 15px;
    font-weight: 500;
    font-family: "Cabin", sans-serif;
    padding: 0px;
    color:#3b3a39;
    letter-spacing: 0.75px;
    line-height: 21px;
}

/////banner
.slide1-img img {
    border-radius: 3px;
    width: 100%;
    margin:0px 0px 20px;
}
.slide1-img h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 5px;
    font-family: inter;
}
.slide1-img p {
    font-size: 12px;
    padding: 4px 10px;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
}
.slide1-img p mat-icon {
    font-size: 12px;
    height: auto;
    width: auto;
    position: relative;
    top: 1.5px;
    color: #36332c;
}
.img-slider {
    padding: 1%;
    margin: 0 auto;
    border-radius: 3px;
    padding: 0px;
}
///cate-
button.more mat-icon {
    animation: mymoved infinite;
    animation-duration: 6s;
}
@keyframes mymoved {
    from {left: 0px;}
    to {left: 6px;}
}
.new-featured-amazon {
    margin: auto;
    padding:2pc 0 2pc;
}
.cate-amazon {
    margin: auto;
}
.Product-featured {
    flex-wrap: wrap;
}
.newatricel-off{
    width: 100%;
    text-align: center;
}
.newatricel-off h1{
    background: #4ed15e;
    font-size: 11px;
    padding: 5px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: #fff;
    line-height: 25px;
    float: right;
    margin: 0px 5px 0;
    position: relative;
    z-index: 1;
}
.newatricel {
    width: 100%;
    text-align: center;
}
.Product-featured .Product {
    width: 23.2%;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    margin: 0px 0.7pc 25px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 1px 1px #f4f4f4;
}
.ppt {
    background: #fff;
    width: 100%;
}
.product-image {
    width: 100%;
}
.newatricel{
    background: #fff;
}
.twocart-btn button {
    position: absolute;
    margin: 0pc 5px 6px;
    background: #000;
}

.twocart-btn button.iconview {
    margin: 2.5pc 5px 0;
    background: #000;
}
.twocart-btn {
    position: absolute;
    opacity: 1;
    -webkit-transform: translateY(25px) translateZ(0);
    transform: translateY(25px) translateZ(0);
    // visibility: hidden;
    text-align: center;
    transition: opacity .3s ease,visibility .3s ease,-webkit-transform .3s ease;
    transition: opacity .3s ease,visibility .3s ease,transform .3s ease;
    transition: opacity .3s ease,visibility .3s ease,transform .3s ease,-webkit-transform .3s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.Product:hover .twocart-btn{
    opacity: 1;
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
    visibility: visible;
}
.newatricel h1 {
    background: #ff583d;
    font-size: 10px;
    padding: 5px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: #fff;
    line-height: 25px;
    float: right;
    margin: 0px 5px 0;
    position: relative;
    z-index: 1;
    top: 5px;
}

.product-data {
    place-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding:0px 0;
    width: 100%;
}
.product-data a img {
    height: 130px;
    object-fit: contain !important;
    padding: 0pc;
    width: 110px;
}
.product-data .product-image a {
    width: 200px;
    display: flex;
    place-content: center;
    align-items: center;
    // height: 200px;
    object-fit: cover;
    margin: 0 auto;
}
.Product h4 {
    text-align: center;
    font-family: inter;
    font-family: "Open Sans", sans-serif;
    font-size: 12.5px;
    line-height: 18px;
    font-weight: 700;
    padding:0px 10px 0;
    margin-bottom: 0px;
}
.Product h4 a:hover {
    color: #e77f35 !important;
}
.Product h4 a{
text-decoration: none;
color: #000;
}
.price {
    padding: 4px 0;
    font-family: sans-serif;
    font-weight: 600;
    color: #e10001;
    font-size: 12px;
    letter-spacing: 0.3px;
}
.price u {
    text-decoration: line-through;
    color: #999696;
}
.star.amazon-revirew {
    position: relative;
    top: -5px;
}
.star.amazon-revirew .review {
    display: flex;
    padding: 0px 0px 5px;
    place-content: center;
    align-items: center;
}
.star.amazon-revirew .review a:hover{
    text-decoration: underline;
    color: #45d7eb;
}
.star.amazon-revirew .review  mat-icon {
    width: auto;
    color: #ffc400;
    font-size: 14px;
    margin: 0px;
    position: relative;
    top: 0px;
}
.star.amazon-revirew .review a {
    width: auto;
    height: auto;
    text-decoration: none;
    position: relative;
    top: -2px;
}
.star.amazon-revirew span {
    font-size: 11px;
    font-family: inter;
    letter-spacing: 0;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color:#45d7eb;
    /* text-transform: capitalize; */
    padding: 0px 0px 0px 7px;
}
.star mat-icon {
    width: auto;
    color: #ffc400;
    font-size: 11px;
    margin: 1px;
    position: relative;
    top: 5px;
}
.reviewd p {
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-family: "Cabin", sans-serif;
    color: #6e6e6e;
    padding-bottom: 1pc;
}
.img {
    display: flex;
    align-items: center;
}
.img img {
    width: 20px;
}
.img b {
    font-family: "Open Sans", sans-serif;
    padding: 0px 4px;
    font-weight: 600;
    font-size: 13px
}
.start {
    padding: 14px 15px 12px 15px;
}
.twocart-btn button mat-icon {
    font-size: 14px;
    height: auto;
    width: 20px;
    position: relative;
    top: 1px;
}

button:hover {
    color: #ffc63d;
}
button {
    border: 0;
    background: #ffc63d;
    padding: 0px 10px;
    border-radius: 5px;
    color: #ffffff;
    height: 37px;
    width: 37px;
    font-family: "Open Sans", sans-serif;
    margin: 0px 5px 15px;
    font-size: 14px;
    letter-spacing: 0;
    display: flex;
    cursor: pointer;
    align-items: center;
    place-content: center;
    border: 2px solid #eae7e7;
    box-shadow: 0px 0px 8px #e3dede;
}

button.more:hover {
    color: #413b3b;
}
button.more mat-icon {
    font-size: 10px;
    height: auto;
    width: auto;
    position: relative;
    left: 2px;
    top: 1px;
}
.date h6 {
    display: flex;
    align-items: center;
    padding:15px 10px 5px;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0;
    width: 50%;
    color: #393838;
}
.blog-featured h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    padding: 0px 10px;
}
.blog-img1{
background: url('https://footwearnews.com/wp-content/uploads/2018/02/online-shopping.jpg?w=700&h=437&crop=1');
height: 270px;
background-position: center;
background-size: cover;
width: 100%;
}
.blog-img2{
    background: url('https://cdn.cnetcontent.com/syndication/mediaserverredirect/b1cc83a25da2e57e450fbea92886a9d0/original.jpg');
    height: 270px;
    background-position: center;
    background-size: cover;
    width: 100%;
}
.blog-img3{
        background: url('https://etimg.etb2bimg.com/photo/66182971.cms');
        height: 270px;
        background-position: center;
        background-size: cover;
        width: 100%;
}
.date h6 mat-icon {
    font-size: 12px;
    height: 10px;
    width: 16px;
    color: #ffac00;
}
.blog-featured p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 22px;
    padding: 0px 10px;
    color: #6e6a6a;
    height: 110px;
}
.blog-featured a {
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    padding: 0px 4px;
    font-size: 14px;
    color:#3fe2f4;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
.blog-featured a mat-icon {
    position: relative;
    animation: mymove infinite;
    animation-duration: 6s;
}
.new-featured-amazon.topdeal .twocart-btn {
    position: relative;
    width: 98%;
}
.new-featured-amazon.topdeal .twocart-btn button.iconview {
    margin: 0px 5px;
}
.new-featured-amazon.topdeal button {
    width: 50%;
    border-radius: 0;
    height: 40px;
    font-size: 12px;
    margin: 0 !important;
    box-shadow: none;
    border: 1px solid;
}
.new-featured-amazon.topdeal .twocart-btn button {
    position: relative;
}
.new-featured-amazon.topdeal button:hover {
    border: 0 !important;
    background: #fab205;
    color: #fff;
}
.new-featured-amazon.topdeal .star span {
    font-size: 11px;
    color: #817a7a;
    font-family: sans-serif;
    position: relative;
    top: -1.6px;
}
.new-featured-amazon.topdeal .star {
    place-content: center;
    align-items: center;
    display: flex;
}
  .new-featured-amazon.arrive.blog {
    padding-bottom:0pc;
}
.new-featured-amazon.allbanner {
    padding:2pc 0 2pc;
    background: #fbfbfb;
}
.new-featured-amazon.topdeald button {
    background: #ffffff;
    color: #000000;
    margin: 0px 5px 7px;
}.new-featured-amazon.topdeal .Product:hover {
    box-shadow: 0px 1px 4px 0px #ddd;
    /* border-radius: 19px; */
}
.new-featured-amazon.topdeal .Product:hover .twocart-btn {
    opacity: 1;
}
.new-featured-amazon.topdeal .twocart-btn {
    opacity: 0;
    margin: 0.4pc auto 0;
}
.new-featured-amazon.topdeal .newatricel {
    position: relative;
    top: 1.1pc;
}
.new-featured-amazon.topdeal .newatricel {
    position: relative;
    top: 1.1pc;
}

section.home.mobile-home.amazonhome1 .new-featured-amazon.topdeal .newatricel-off{
    position: relative;
    top: 0.1pc;
}
section.home.mobile-home.amazonhome1 .new-featured-amazon.topdeal .newatricel {
    position: relative;
    top: 0.1pc;
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 10px;}
  }
.blog-featured img {
    width: 100%;
}
.blog-featureddata {
    padding: 0 20px;
}
.new-featured-amazon.topdeal  .product-data
{
    padding: 0;
}

.new-featured-amazon.topdeal .Product-featured .Product {
    width: 19%;
    margin: 0.5%;
}
section.home.amazonhome1 .slide:before {
    width: 100%;
}
.slide1-img iframe {
    margin:0px 24px 30px;
}
section.home.amazonhome1 .slide-img {
    display: none !important;
}
section.home.amazonhome1 .slide-text{
    padding: 0px 1.5pc;
    position: relative;
    color: #fff;
}
section.home.amazonhome1 .slide{
    height:400px;
}
section.home.amazonhome1 .slide-text button {
    background: #fdfdfd;
    color: #252323;
}
section.home.amazonhome1 .Product-featured .Product {
    width: 100%;
    margin: 20px 0;
    margin: 9px auto 9px;
}
section.home.mobile-home.amazonhome2 {
    background: #fff;
}
section.home.mobile-home.amazonhome2 {
    background: #fff;
}
section.home.amazonhome2 .Product-featured .Product {
    width: 32%;
}
section.home.amazonhome3 .Product-featured .Product {
    width: 30.9%;
}
section.home.amazonhome1 .start{
    padding: 17px 7px 12px 7px;
}

section.home.amazonhome1 .new-featured-amazon {
    padding: 3pc 0 2pc;
    margin: 0px 1pc;
    background: #fff;
}
section.home.amazonhome2 .new-featured-amazon {
    padding: 2pc 0 0pc;
}

section.home.amazonhome2 .slide-text {
    padding: 0px 3pc;
}

section.home.amazonhome1 .blog-featured .blog-img1 {
    height: 185px;
    object-fit: cover;
}
section.home.amazonhome2 .blog-featured .blog-img1 {
    height: 250px;
    object-fit: cover;
}
section.home.amazonhome2 .new-featured-amazon.allbanner {
    display: none !important;
}
section.home.amazonhome1 .allcate {
    height: 145px;
    padding: 0 10px;
    margin: 2px;
}
section.home.amazonhome1 .left1 {
    padding: 1pc;
}
section.home.amazonhome2 .left1 {
    padding: 1pc;
}
section.home.amazonhome2 .allcate {
    padding: 0 1pc;
}

section.home.amazonhome1 .cate-amazon h1 {
    font-size: 11px;
    line-height: 13px;
    font-weight: 600;
}
section.home.amazonhome1 .cate-amazon a {
    font-size: 12px;
    font-weight: 900;
}
section.home.amazonhome1 .new-featured-amazon.topdeal .Product {
    width: 49% !important;
    margin: initial;
}
section.home.amazonhome1 .new-featured-amazon.topdeal .twocart-btn {
     opacity: 1; 
     display: none !important;
}
section.home.amazonhome2 .new-featured-amazon.topdeal .twocart-btn {
    opacity: 1; 
    display: none !important;
}

// section.home.amazonhome1 .new-featured-amazon.topdeal button.iconview {
//     background: #4571eb;
// }
// section.home.amazonhome1 .new-featured-amazon.topdeal button {
//     background: #fea03b;
//     border-radius: 5px;
// }

section.home.amazonhome1 .product-data .product-image a {
    width: 170px;
}
section.home.amazonhome1 .product-data a img {
    width: 55%;
    margin: 0 auto;
    display: block;
}
.twocart-btn.mobile button {
    width: auto;
    height: 45px;
    padding: 0px 16px;
    background:#ffc63d;

    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: none;
    border: 0;
}
.twocart-btn.mobile button.iconview{
    background: #4571eb;
}
::ng-deep .mobile-view .new-featured-amazon.arrive.blog .carousel {
    height:540px !important;
    background: #fff;
}
::ng-deep .mobile-view .carousel {
    height:450px !important;
    background: #fff;
}
::ng-deep .carousel-slide-content{
    background: #fff;
}
section.home.amazonhome1  .product-data{
    padding: 0px 0;
}
::ng-deep .mobile-view button.mat-focus-indicator.mat-icon-button.mat-button-base.mat-accent span.mat-button-wrapper {
    color: transparent !important;
}

section.home.amazonhome1 .blog-featured p {
    height: auto;
}
section.home.amazonhome2 .blog-featured p {
    height: auto;
}
section.home.amazonhome3 .blog-featured p {
    height: 140px;
}
section.home.amazonhome3 .left1 {
    padding: 4pc 1pc;
}
section.home.amazonhome3 .allcate {
    padding: 0 1pc;
}
.topdeald {
    background: #fff;
    margin: 0 auto;
    width: 100%;
    display: block;
}
.new.featured-amazon {
    margin: 0 auto;
}

.cate-img  mat-icon {
    font-size: 14px;
    color: #f0b630;
    width: auto;
    height: auto;
}
.right1.allcate h1 mat-icon {
    color: #d7b962;
}
.right2.allcate h1 mat-icon {
    color: #3bdeee;
}
.right11.allcate h1 mat-icon {
    color: #c5d77e;
}
.right12.allcate h1 mat-icon {
    color:#e49587;
}





// ------categoryy------

.category-featured-amazon{
       background: #fff;
       padding:2pc 0 3pc;
     
}
#homeFirsttwo{
    position: relative;
    z-index: 9;  
}
.category-featured {
    flex-wrap: wrap;
}
.cate {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    padding: 0px;
    background: #fff;
    margin: 30px auto 0;
}
.cate-text {
    background: #f8f8f8;
    width: 15.8%;
    margin: 0.8% 0.4% 0;
    padding-bottom: 1.5pc;

}
.cate a {
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    place-content: center;
    align-items: center;
}
.cate a img {
    width: 60%;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
    display: flex;
    place-content: center;
    align-items: center;
}
.cate-text h1 {
    font-size: 13px;
    text-align: center;
    line-height: 19px;
    padding: 10px 15px;
    font-family: ppoins;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 0;
    text-transform: capitalize;
    letter-spacing: 0.1px;
    cursor: pointer;
}
::ng-deep .new.category-amazon .carousel {
    height: 375px !important;
}

section.home.mobile-home.amazonhome1 .cate-text {
    margin: 0px auto;
    background: #f9f9f9;
    padding: 0 8px;
    width: 25%;
}
section.home.mobile-home.amazonhome1 .category-featured {
    background: #fff;    flex-wrap: nowrap;

}
section.home.mobile-home.amazonhome1 .new.category-amazon .heading{
    padding-bottom:0pc;
    padding-top: 2pc;
    background: #fff;
}
section.home.mobile-home.amazonhome2 .new.category-amazon .heading{
    padding-bottom:0pc;
    padding-top: 2pc;
    background: #fff;
}
section.home.mobile-home.amazonhome2  .category-featured {
    place-content: center;
    align-items: center;    flex-wrap: nowrap;

}
section.home.mobile-home.amazonhome2 .cate-text {
    margin: 11px auto;
    background: #f8f8f8;
    padding: 20px;
    width: 50%;
}
section.home.amazonhome3 .cate-text {
    margin: 8px ;
    padding: 11px;
    width: 21%;
}
section.home.mobile-home.amazonhome1 .twocart-btn {
    opacity:1;    visibility: visible;
}
section.home.mobile-home.amazonhome2 .twocart-btn {
    opacity:1;    visibility: visible;
}
:focus{
    outline: transparent;
}
section.home.mobile-home.amazonhome1 .new.featured-amazon {
    margin: 0 auto;
    overflow-x: scroll;
}
section.home.mobile-home.amazonhome1 .new.featured-amazon::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

section.home.mobile-home.amazonhome1 .new.featured-amazon::-webkit-scrollbar
{
	width:4px;
	background-color: #F5F5F5;
}

section.home.mobile-home.amazonhome1 .new.featured-amazon::-webkit-scrollbar-thumb
{
	background-color: #F5F5F5;
}




section.home.mobile-home.amazonhome1 .category-featured-amazon {
    padding: 0pc 0 0pc;
}
section.home.mobile-home.amazonhome2 .category-featured-amazon {
    padding: 0pc 0 0pc;
}
section.home.mobile-home.amazonhome1 .cate {
    width: 80px;
    height: 80px;
    margin: 15px auto 0;
}
section.home.mobile-home.amazonhome1 .cate a img {
    width:60px;
    height: 80px;
}
section.home.mobile-home.amazonhome1 .cate-text h1 {
    font-size: 11px;
    line-height: 13px;
    font-weight: 500;
    padding: 10px 7px;
}
.review-blog{
    width: fit-content;
    border-radius: 30px;
    border: 0;
    margin:3pc auto 0pc;
    padding: 0px 2.5pc;
    height: 45px;
}
.review-blog:hover{
    color: #fff;
}


.products-text {
    width: 24%;
    margin: 0.5%;
}
.products-text img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 3px;
}
.products_all {
    background: #f0f0f0;
    background: #f8f8f8;
    margin: 0% 0 4%;
    padding: 1pc 1pc 0.5pc;
}
.products_all h1 {
    font-size: 17px;
    margin: 0;
    padding: 5px 5px 0.6pc;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
.products_all p {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #515151;
    padding: 1pc 0 5px;

}
.products-text.lastpic-d .products_all {
    background: transparent;
    padding: 0 1pc;
}
.products-text.lastpic-d a.imgb img {
    height: 170px;
}
.products-text.lastpic-d .mid-img-p{
    background: #f8f8f8;
    margin: 1pc 0;
    padding: 1pc;
}

section.amazonheader.amazonheader1 .products-text img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 3px;
}
section.amazonheader.amazonheader1 .products-text {
    width: 49%;
    margin: 0.5%;
}
section.home.mobile-home.amazonhome1 .category-featured.amz {
    flex-wrap: wrap;
}
section.home.mobile-home.amazonhome1 .products-text {
    width: 49%;
}
section.home.mobile-home.amazonhome1 .products-text img {
    height:100px;
}
section.home.mobile-home.amazonhome1 .products_all h1 {
    font-size: 15px;
    line-height: 20px;
}

section.home.mobile-home.amazonhome2 .products_all h1 {
    font-size: 14px;
    line-height: 20px;

}
.new.featured-amazon {
    margin: 2pc auto;
}
.movie-featured {
padding:8px;
margin-bottom: 10px;

}
.blog-data img {
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}
.moviedeal .heading {
    padding-bottom: 1pc;
}
.moviedeal .start img{
    width: 20px;
    height: 20px;
}
.moviedeal .start{
    padding: 20px 15px 0px 0px;
}
.headingMovieTwo {
    background: #ffffff;
    color: #323232;
    border-radius: 5px;    box-shadow: 0px 0px 1px 1px #f4f4f4;

}
.overrate {
    padding: 0 15px 0.5pc;
}
.blog-data {
    flex-wrap: wrap;
}
h1.Mname {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    text-transform: lowercase;
    letter-spacing: 0.3px;
    text-align: center;
    line-height: normal;
}
.moviedeal button.review-blog {
    margin:2pc auto 0pc;
}
h1.dname {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    text-align: center;
}
.overrate a {
    text-align: center;
    display: block;
    font-weight: 300;
    letter-spacing: 0.2px;
    padding: 8px 0pc 0;
    color: #11cfac;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
    font-size: 12px;
}
.overrate a:hover {
    color: #70b3d3 !important;
}
.review {
    display: flex;
    padding: 7px 0;
    font-weight: 300;
}
.overrate {
    padding:3px ​15px 0.5pc;
}
.overrate mat-icon.mat-icon {
    font-size: 13px;
    height: auto;
    width: auto;
    position: relative;
    top: 3px;
}
.review mat-icon.mat-icon {
    font-size: 18px;
    height: auto;
    width: auto;
    position: relative;
    top: 2px;
    margin:0px 3px 0 0;
    color: #ffc800;
}
h1.Mname::first-letter {
    text-transform: uppercase;
}
.new-featured-amazon.arrive.moviedeal {
    /* padding: 0; */
    background: #fdfdfd;
}


section.home.amazonhome5{
.reviewd p{
    font-size: 15px;
    line-height: 21px;
}
.Product h4 {
    font-size: 14.5px;
}
.price {
    padding: 6px 0;
    font-size: 14px;
}
.star.amazon-revirew span {
    font-size: 12px;
}
.blog-featured p {
    font-size: 15px;
    line-height: 24px;
    height: 150px;
}
}


@media only screen and (min-width: 1900px) and (max-width: 9000px){
    .reviewd p{
        font-size: 17.5px;
        line-height: 27px;
    }
    .Product h4 {
        font-size: 17.5px;
}

.price {
    padding: 6px 0;
    font-size: 16px;
}
.star.amazon-revirew span {
    font-size: 13px;
}
.blog-featured p {
    font-size: 15px;
    line-height: 24px;
    height: 150px;
}
}