.category {
    margin:0.5pc auto 0;
    min-height: 100vh;

}
.ft{
    min-height: 100vh;
    padding: 15pc 0 0;

}
.category-amazon_review {
    margin: 0 auto;
}
.single-line .home{
    cursor: pointer;
    padding-left: 0.5pc;
}
.cast {
    border-bottom: 1px solid #f5f5f5;
}
.single-line {
    display: flex;
    align-items: center;
    padding:20px 0px 15px;
}
.single-line b {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #5e5e5e;

}
.single-line mat-icon {
    font-size: 15px;
    height: auto;
    width: 25px;
    text-align: center;
    color: #5e5e5e;
    position: relative;
    top: 1px;
}
.heading-product h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    padding: 0px 7pc 2pc;
}

.heading-product h5 {
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    color: #2a2a2a;
    font-size: 25px;
    padding: 4px 5px 5px;
    margin-bottom: 0;
    border-left: 5px solid #ffb604;

}
p.namemoviewdate {
    border-left: 5px solid #ffb604;
    margin: 0;
}
.heading-product p.namemoviewdate {
    color: #9c9797;
    padding: 0px 3px 0;
}
.nameAdd {

    padding: 0 20px;
}
.review mat-icon.mat-icon {
    color: #ffb500;
    margin-bottom: 15px;
}
.reviewsrateUserProfile{
    align-items: center;
    padding: 0 0 10px 0;
}
.heading-productreview h1 {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 15px;
    padding: 0px 5px 0;
    margin: 0;
}
.castheadig {
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    color: #2a2a2a;
    font-size: 25px;
    padding: 0px 9px 0px;
    border-left: 5px solid #ffb604;
    margin: 25px 25px 10px;
}
.img {
    float: left;
}
.review {
    display: flex;
    align-items: center;
    place-content: end;
}
.review span {
    margin-bottom: 14px;
    padding: 0 5px;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Open Sans';
}
.heading-product p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.2px;
}
.img-product img {
    width: 85%;
    height: 250px;
    object-fit: cover;
    float: right;
}
.img-product {
    margin: 10px 0px 0px 0px;
}
.reviewsrate mat-icon {
    background: #e3e2e2;
    padding: 0px;
    border-radius: 3px;
    color: #7f7d7d;
    border-radius: 30px;
    width:25px;
    height: 25px;
    text-align: center;
    font-size: 25px;
    float: left;
    margin: 0 5px;
}
.nameAdd mat-icon.mat-icon.notranslate {
    background: transparent;
    font-size: 25px;
    width: auto;
    margin: 0px 1px 0;
}
.nameAdd mat-icon.mat-icon.notranslate:hover{
    color: #ffc41d;
cursor: pointer;
}
.reviewsrate button {
    /* float: left; */
    margin: 10px auto;
    display: flex;
    place-content: flex-end;
    align-items: flex-end;
    text-align: right;
    background: #ddd;
    border: 0;
    padding: 11px 2pc;
    border-radius: 5px;
    color: #8d8d8d;
}
.img-product {
    flex-wrap: wrap;
    place-content: start;
}
.heading-product {
    padding-left: 30px;
}
.img-product a{
    width: 100%;
    margin: 5px;
}

.ft{
    margin: 0 auto;
}
.price {
    padding: 4px 10px 4px 0px;
    font-family: inter;
    font-weight: 500;
    color: #45d7eb;
    font-size: 12px;
}

.price u {
    text-decoration: line-through;
    color: #999696;
}

.star {
    align-items: center;
}

.star mat-icon {
    width: auto;
    color: #ffc400;
    font-size: 11px;
    margin: 1px;
    position: relative;
    top: 0px;
    height: auto;
}
.viewer b {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #c2bdbd;
}
.reviewviewicon .viewer {
    display: flex;
    align-items: center;
    padding: 2px 0 10px;
}
.reviewviewicon mat-icon {
    font-size: 14px;
    height: auto;
    position: relative;
    top: 0.5px;
    color: #fcd68f;
    width: 19px;
}

.mid_Review_Part {
    margin: 0 auto;
}

.img img {
    width: 20px !important;
    height:20px !important;
}
.img b {
    font-family: "Open Sans", sans-serif;
    padding: 0px 4px;
    font-weight: 600;
    font-size: 13px;
}
.star mat-icon {
    width: auto;
    color: #ffc400;
    font-size: 11px;
    margin: 1px;
    position: relative;
    top: 3px;
}
.reviewsrateUser {
    display: flex;
    /* place-content: center; */
    align-items: center;
}
.reviewd p {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 24px;
    font-family: "Cabin", sans-serif;
    color: #6e6e6e;
    padding-bottom: 1pc;
}
.reviewalluser .heading-productreview {
    border: 1px solid #ddd;
    box-shadow: 0px 0px 2px 2px #f5f4f4;
    padding:1pc;
    border-radius: 10px;
}
.start {
    border-bottom: 1px solid #effc82;
    margin: 20px 10px
}
.overrate h1 {
    font-weight: 500;
    font-size: 15px;
    margin: 0;
    letter-spacing: 0.5px;
    color: #aaaaaa;
    padding: 0pc ;

}
.overrate {
    display: flex;
    place-content: flex-end;
    align-items: flex-end;
}
.overratedata {
    padding: 0 10px;
}
.overrate .review {
    place-content: end;
}
.reviewalluser
{
    padding: 3pc ;
}
.vedios {
    width: 100%;
    margin: 0px auto 0pc;
}
::ng-deep .vedios iframe {
    width: 100%;
    height: 420px;
}
.imgvedio {
    display: flex;
}
.imgvedio a {
    width:35%;
}
.imgvedio a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.castdata img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    object-fit: cover;
}
.castdata{
    text-align: center;    padding: 10px 20px;

}
.castdata h1 {
    font-size: 13px;
    margin: 0;
    color: rgb(0, 0, 0);
    padding-top: 8px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
}
.castdata h5 {
    color: rgb(102, 102, 102);
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
}
.review.imgtwos img {
    height: 200px;
    object-fit: fill;
}
input.rightre{
    padding: 6px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ddd;
    height: 70px;
}
textarea{
    width: 88%;
    height: 70px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 5px auto;
    color: #000;
    padding: 15px 0;
}
::placeholder{
    color: #000;
}

.headingMovie {
    background: #000;
    position: relative;
    top: -5px;
    color: #ddd;
    padding: 2pc 2.5pc 1.5pc;
}
.overrateData p {
    margin: 0;
    letter-spacing: 0.9px;
    font-family: "Open Sans", sans-serif;

    font-weight: 100;
    color: #cfcfcf;
}
.headingMovie h1.Mname {
 
    letter-spacing: 0px;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 30px;
    padding: 0px 0 15px;
    margin-bottom: 0;
}
.headingMovieTwo h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    font-size: 15px;
    padding-right: 2pc;
}

section.home.amazonhome1 ::ng-deep .vedios iframe {
    height: 240px;
}
section.home.amazonhome1 {
    .imgvedio a {
        display: none;
    }
    .headingMovieTwo h2 {
        font-size: 12px;
        padding-right: 11px;
        line-height: normal;
    }   
    .headingMovie {
        padding: 1pc 5px;
}    
 .heading-product h5 {
    font-size: 24px;
    padding: 1px 0 5px;
    margin-bottom: 0;
    line-height: 28px;
}
 .reviewalluser {
    padding: 0.5pc;
}
.overrateData p {
    margin: 0;
    letter-spacing: 0.9px;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    color: #cfcfcf;
    display: none;
}
 .single-line mat-icon {
    font-size: 15px;
    width: 15px;
}
 .single-line b {
    font-size: 10px;
}
 .heading-product {
    padding-left: 5px;
    max-height: -webkit-fill-available !important;
}
 .heading-product h1 {
    font-size: 17px;
    line-height: 27px;
    padding: 0px 0pc 2pc;
}
.headingMovie h1.Mname {
    font-weight: 600;
    font-size: 18px;
    padding: 0px 0 5px;
}
.sidebarsec {
    padding: 20px 0px 0 4px;
}
.overratedata {
    padding: 0 ;
}
.img-product {
    flex-wrap: wrap;
    place-content: start;
    max-height: fit-content !important;
    flex: none !important;

}

.review mat-icon.mat-icon {
    width: 15px;
    height: 15px;
    font-size: 15px;
}
.img-product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.category{
    margin: 0 auto 0;
}
.heading-product p {
    text-align: justify;
    padding: 0 7px;
}
.nameAdd {
    padding: 0 0px 0 10px;
}
.nameAdd mat-icon.mat-icon.notranslate {
    font-size: 20px;
    margin: 0px 0px 0;
}
.reviewalluser .heading-productreview {
    padding: 10px;
    border-radius: 6px;
}
.start{
    margin: 18px 4px 0;
    text-align: justify;
    word-break: break-word;
}
textarea{
    width: 100%;
}
.cast {
    overflow-x: scroll;
}
}
section.home.amazonhome2 ::ng-deep .vedios iframe {
    height: 300px;
}



section.home.amazonhome2 {
    .imgvedio a {
        display: none;
    }
    .cast {
        overflow-x: scroll;
    }
    .headingMovieTwo h2 {
        font-size: 12px;
        padding-right: 11px;
        line-height: normal;
    }   
    .headingMovie {
        padding: 1pc 5px;
}    
 .heading-product h1 {
    line-height: 27px;
    padding: 0px 0pc 2pc;
}
 .heading-product h5 {
    font-size: 24px;
    padding: 1px 0 5px;
    margin-bottom: 0;
    line-height: 28px;
}
 .reviewalluser {
    padding: 0.5pc;
}

.overrateData p {
    margin: 0;
    letter-spacing: 0.9px;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    color: #cfcfcf;
    display: none;
}

.headingMovie h1.Mname {
    font-weight: 600;
    font-size: 18px;
    padding: 0px 0 5px;
}

.overratedata {
    padding: 0 ;
}
.img-product {
    flex-wrap: nowrap;
    place-content: start;
    max-height: fit-content !important;
    flex: none !important;

}
.heading-product {
    padding: 10px;
    max-height: -webkit-fill-available !important;
}




.sidebarsec {
    padding: 20px 0px 0 4px;
}
.review mat-icon.mat-icon {
    width: 15px;
    height: 15px;
    font-size: 15px;
}
.img-product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.category{
    margin: 0 auto 0;
}
.heading-product p {
    text-align: justify;
    padding: 0 7px;
}
.nameAdd {
    padding: 0 0px 0 10px;
}
.nameAdd mat-icon.mat-icon.notranslate {
    font-size: 20px;
    margin: 0px 0px 0;
}
.reviewalluser .heading-productreview {
    padding: 10px;
    border-radius: 6px;
}
.start{
    margin: 18px 4px 0;
    text-align: justify;
    word-break: break-word;
}
textarea{
    width: 100%;
}
}

section.home.amazonhome3 ::ng-deep .vedios iframe {
    height: 360px;
}
section.home.amazonhome3 {
.headingMovieTwo h2 {

    font-size: 13px;
    padding-right: 1pc;
}
.castdata {
    text-align: center;
    padding: 10px 10px;
}
.castdata img {
    width: 80px;
    height: 80px;
}
.castdata h1 {
    font-size: 13px;
}
}



section.home.amazonhome5 {
    .headingMovieTwo h2 {
    font-size: 18px;
}
.overrateData p {
    font-size: 14px;
    line-height: 22px;
}
.heading-product p {
    font-size: 16px;
    line-height: 29px;
}
.reviewd p {
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 27px;
}
.img b {
    font-size: 15px;
}
.review mat-icon.mat-icon {
    font-size: 22px;
}
}

@media only screen and (min-width: 1900px) and (max-width: 9000px){

    .headingMovieTwo h2 {
        font-size: 20px;
    }
    .overrateData p {
        font-size: 16px;
        line-height: 24px;
    }
    .heading-product p {
        font-size: 18px;
        line-height: 31px;
    }
    .reviewd p {
        font-size: 17px;
        letter-spacing: 0.5px;
        line-height: 29px;
    }
    .img b {
        font-size: 17px;
    }
    .review mat-icon.mat-icon {
        font-size: 18px;
    }
}


.loader{
    width: 301px;
    height: auto;
    padding:8pc 0 11pc;
    margin: 0 auto;
    display: block;
}
.loaderload{
    min-height: 100vh;
}


.sidebarsec {
    padding: 0 0px 0 40px;
}
.sidebarsec h1 {
    margin: 0;
    line-height: normal;
    border-left: 4px solid #ffb500;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    color: #2a2a2a;
    font-size: 25px;
    padding: 0px 5px 0px;
    margin-bottom: 10px;
}
.sidebarsec ul {
    padding: 0;
    list-style: auto;
}
.sidebarsec ul li {
    padding: 15px 10px;
    display: flex;
    place-content: space-between;
    border-bottom: 1px solid #ddd;
}
.sidebarsec ul li b {
    font-weight: 100;
    font-size: 13px;
}
.sidebarsec ul li a p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: system-ui;
    font-weight: 400;
    color: #5e5e5e;
}
.sidebarsec ul li a {
    font-family: sans-serif;
    font-weight: 600;
}


.cast::-webkit-scrollbar-track
{
	border-radius: 1px;
	background-color: #fafafa;
}

.cast::-webkit-scrollbar
{
	width: 1px;
	background-color: #fafafa;
}

.cast::-webkit-scrollbar-thumb
{
	border-radius:1px;
	background-color: #fafafa;
}