<section class="home" fxLayout="column" ngClass.xs="amazonhome1" ngClass.sm="amazonhome2" ngClass.md="amazonhome3">
    <div class="ft" *ngIf="dataload">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!dataload">
        <!----top-line-->
        <div class="category-amazon" fxLayout="row">
            <div class="top-line">
                <div class="single-line" fxFlex.xs="588" fxFlex.sm="590px" fxFlex.md="950px" fxFlex.lg="1270px" fxFlex.xl="1910px">
                    <b class="home" routerLink="/">Home</b>
                    <mat-icon>keyboard_arrow_right</mat-icon> <b><a>Movies</a></b>
                    <mat-icon>keyboard_arrow_right</mat-icon> <b><a> {{movie.productName}}</a></b>
                </div>
            </div>
        </div>
        <!----category-line-->
        <div class="category reviewmovieblogs" fxLayout="row">
            <div class="category" fxLayout="column" fxFlex.xs="97%" fxFlex.sm="590px" fxFlex.md="950px" fxFlex.lg="1270px" fxFlex.xl="1910px">
                <!--<div class="heading-product">
                    <h1> {{blog.title}}</h1>
                </div>-->
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                    <div class="img-product" fxFlex="40%" fxLayout="row">
                        <a href={{movie.productLink}} target="_blank">
                            <img src={{movie.image}}></a>

                            <a href={{movie.productLink}} target="_blank">
                                <img src={{movie.imageThree}}></a>

          
                    </div>
                    <div class="heading-product" fxFlex="60%">
                        <!-- <h1> {{blog.title}}</h1> -->
                        <h5 class="namemoview">{{movie.productName}}</h5>
                        <p class="namemoviewdate">{{movie.author}}, Updated: {{movie.createDate}}
                        </p>
                        <div class="review">
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star </mat-icon>
                            <mat-icon>star_half</mat-icon>
                            <!-- <mat-icon>star_border</mat-icon> -->

                            <span>({{movie.rating}}/5)</span>
                        </div>
                        <p *ngFor="let paragraph of movie.paragraphs">
                            {{paragraph.para}}
                        </p>
                        
                        <p *ngFor="let paragraph of movie.paragraphTwo">
                            {{paragraph.para}}
                        </p>

                        <a href={{movie.productLink}} target="_blank">
                            <img  src={{movie.imageTwo}}></a>

                        <p *ngFor="let paragraph of movie.paragraphThree">
                            {{paragraph.para}}
                        </p>

                        <!-- <button class="buy">
                    <a target="blank" href="{{blog.productLink}}">
                        <mat-icon>play_arrow</mat-icon>Buy Now
                    </a>
                </button> -->


                    </div>


                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="reviewalluser">
                    <div class="img-product" fxFlex="60%" fxLayout="row">
                        <div class="heading-productreview">
                            <h1>USERS' REVIEWS </h1>
                        
                            <div class="start" *ngFor="let comm of movie.comments">
                                <div class="img" fxLayout="row">
                                    <img src="https://images-eu.ssl-images-amazon.com/images/S/amazon-avatars-global/default._CR0,0,1024,1024_SX48_.png">
                                    <b> {{comm.username}}</b>
                                </div>
                                <div class="star">
                                    <div class="review">
                                        <mat-icon>star</mat-icon>
                                        <mat-icon>star</mat-icon>
                                        <mat-icon>star</mat-icon>
                                        <mat-icon>star</mat-icon>
                                        <mat-icon>star</mat-icon>
                                        <span>({{comm.rating}}/5)</span>

                                    </div>
                                    <div class="reviewd">
                                        <p> {{comm.comment}}
                                        </p>
                                    </div>
                                </div>
                            </div>

  

    
                        </div>
                    </div>
                    
                    <div class="img-product" fxFlex="40%" fxLayout="row">
                        <div class="overrate">
                        <div class="overratedata">
                            <h1>Critic's Rating</h1>
                             <div class="review">
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star_half </mat-icon>
                            <mat-icon>star_border</mat-icon>
                            <span>( {{movie.criticRating}}/5)</span>
                        </div>
                        </div>

                         <div class="overratedata">
                            <h1>Avg. Users' Rating</h1>
                             <div class="review">
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star_half </mat-icon>
                            <mat-icon>star_border</mat-icon>
                            <span>( {{movie.averageUserRating}}/5)</span>
                        </div>
                        </div>
                        </div>
                         <div class="vedios" [innerHtml]= "x">
                         

<!-- <iframe  src={{movie.youtube}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
  </div>
  </div>
                </div>
            </div>
        </div>
    </div>
</section>