<section class="home" fxLayout="column" ngClass.xs="amazonhome1" ngClass.sm="amazonhome2" ngClass.md="amazonhome3">

<div class="ft" *ngIf="dataload">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!dataload">

    <!----top-line-->
    <div class="category-amazon" fxLayout="row">
        <div class="top-line">
            <div class="single-line" fxFlex.xs="588" fxFlex.sm="590px" fxFlex.md="950px" fxFlex.lg="1270px"
                fxFlex.xl="1910px">
                <b class="home" routerLink="/">Home</b>
                <mat-icon>keyboard_arrow_right</mat-icon> <b>
                     <a>Products</a>
                </b>
            </div>
        </div>
    </div>
    <!----category-line-->
    <div class="category" fxLayout="row">
        <div class="category" fxLayout="column" fxFlex.xs="588" fxFlex.sm="590px" fxFlex.md="950px" fxFlex.lg="1270px"
            fxFlex.xl="1910px">
            <div class="product-amazonall" fxLayout="row">
                <div class="product-amazon" *ngFor="let product of products">
                    <div class="text">
                        <h3> {{product.productName}}</h3>
                        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                            <div class="price">
                                <u> {{product.originalPrice}} </u> ₹{{product.sellPrice}}
                            </div>
                            <div class="star" fxLayout="row">
                                <div class="review">
                                    <mat-icon>star</mat-icon>
                                    <mat-icon>star</mat-icon>
                                    <mat-icon>star</mat-icon>
                                    <mat-icon>star</mat-icon>
                                    <mat-icon>star</mat-icon>
                                </div>

                                <div class="viewer">
                                    <b>({{product.allReviews}} Reviews)</b>
                                    <div class="iconmore">
                                            <mat-icon class="add">add</mat-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product" fxLayout="column">
                        <div class="img">
                            <a href={{product.productLink}} target="_blank">
                                <img height="200px" width="200px" border="0" src={{product.image}}></a>
                        </div>
                        <div class="text">
                            <h4>
                                <mat-icon>thumb_up_off_alt</mat-icon>Pros
                            </h4>
                            <ul>
                                <li *ngFor="let pro of product.allPros">
                                    <label> {{pro.pros}} </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="price-cart">
                        <div class="start" *ngFor="let review of product.reviews">
                            <div class="img" fxLayout="row">
                                <img src={{review.userImage}}>
                                <b> {{review.userName}} </b>
                            </div>
                            <div class="star">
                                <div class="review">
                                    <mat-icon>star</mat-icon>
                                    <mat-icon>star</mat-icon>
                                    <mat-icon>star</mat-icon>
                                    <mat-icon>star</mat-icon>
                                    <mat-icon>star</mat-icon>
                                </div>
                                <label> {{review.rating}}/5</label>
                                <div class="reviewd">
                                    <p> {{review.review}}
                                    </p>
                                </div>
                            </div>
                        <div class="addto-cart" fxLayout="row">
                            <button  [routerLink]="'/product/'+product.productName">
                                <mat-icon>add_shopping_cart</mat-icon>
                                <a target="blank" href="{{product.productLink}}">
                                    <span>Buy Now</span>
                                </a>
                              
                            </button>
                            <button style="background: #ff9f0d;" [routerLink]="'/product/'+product.productName">
                                <mat-icon>visibility</mat-icon><span>View More</span></button>
                        </div>

<div class="blog-detail">
    <a>(Review on Blog) </a>
</div>

                    </div>

                    </div>
                </div>
            </div>
            <!-- <div class="paginatiion">
                <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div> -->
        </div>
    </div>

    </div>
</section>