<section class="home" fxLayout="column" ngClass.xs="amazonhome1" ngClass.sm="amazonhome2" ngClass.md="amazonhome3">
        <!----top-line-->
        <div class="category-amazon" fxLayout="row">
            <div class="top-line">
                <div class="single-line" fxFlex.xs="588" fxFlex.sm="590px" fxFlex.md="950px" fxFlex.lg="1270px"
                    fxFlex.xl="1910px">
                    <b class="home" routerLink="/">Home</b>
                    <mat-icon>keyboard_arrow_right</mat-icon> <b><a>Products</a></b>
                    <mat-icon>keyboard_arrow_right</mat-icon> <b><a> {{blog.productName}}</a></b>
                </div>
            </div>
        </div>
        <!----category-line-->
        <div class="category" fxLayout="row">
            <div class="category" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex.xs="97%" fxFlex.sm="590px" fxFlex.md="950px" fxFlex.lg="1270px"
                fxFlex.xl="1910px">
                <div class="img-product" fxFlex="40%" fxLayout="row">
                    <a href={{blog.productLink}} target="_blank">
                        <img  src={{blog.image}}></a>
    
                    <a href={{blog.productLink}} target="_blank">
                        <img  src={{blog.imageTwo}}></a>
    
    
                    <a href={{blog.productLink}} target="_blank">
                        <img  src={{blog.imageThree}}></a>
                </div>
                <div class="heading-product" fxFlex="60%">
                    <h1> {{blog.title}}</h1>
                    <h5>{{blog.productName}}</h5>
                    <p *ngFor="let paragraph of blog.paragraphs">
                        {{paragraph.para}}
                    </p>
                </div>

                <h1> product price {{blog.price}}</h1>
                <h1> product views {{blog.views}}</h1>
                <h1> product re-views {{blog.reviews}}</h1>

            </div>
        </div>
    </section>