<section class="home" fxLayout="column" ngClass.xs="amazonhome1" ngClass.sm="amazonhome2" ngClass.md="amazonhome3">
  
    <div *ngIf="dataload" class="loaderload">
        <img class="loader" src="assets/images/loader.gif">
    </div>
    <div *ngIf="!dataload">
    <!----top-line-->
    <div class="category-amazon" fxLayout="row">
        <div class="top-line">
            <div class="single-line" fxFlex.xs="588" fxFlex.sm="590px" fxFlex.md="950px" fxFlex.lg="1270px"
                fxFlex.xl="1800px">
                <b class="home" routerLink="/">Home</b>
                <mat-icon>keyboard_arrow_right</mat-icon> <b class="home" routerLink="/category"><a>Products</a></b>
                <mat-icon>keyboard_arrow_right</mat-icon> <b><a>Mobile</a></b>
            </div>
        </div>
    </div>
    <!----category-line-->
    <div class="category" fxLayout="row">
        <div class="category" fxLayout="column" fxFlex.xs="588" fxFlex.sm="590px" fxFlex.md="950px" fxFlex.lg="1270px"
            fxFlex.xl="1800px">
            <div class="product-amazonall" fxLayout="row">
                <div class="product-amazon">
                    <div class="product" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                        <div class="img" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="100%">
                            <a href={{product.productLink}} target="_blank">
                                <img height="200px" width="200px" border="0" src={{product.image}}></a>
                        </div>
                        <div class="text" fxFlex="60%" fxFlex.xs="100%" fxFlex.sm="100%">

                            <h3>{{product.productName}}</h3>
                            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                                <div class="price">
                                    <u> ₹{{product.originalPrice}} </u> ₹{{product.sellPrice}}
                                </div>
                                <div class="star" fxLayout="row">
                                    <div class="review">
                                        <mat-icon>star</mat-icon>
                                        <mat-icon>star</mat-icon>
                                        <mat-icon>star</mat-icon>
                                        <mat-icon>star</mat-icon>
                                        <mat-icon>star</mat-icon>
                                    </div>
                                    <div class="viewer">
                                        <b>({{product.allReviews}} Reviews)</b>
                                    </div>
                                </div>
                            </div>
                            <div class="item-ad">
                                <div class="heading" *ngFor="let allpros of product.allPros">
                                    <b>- {{allpros.pros}}</b>
                                </div>
                             
                            </div>
                            <h4>
                                <mat-icon>thumb_up_off_alt</mat-icon>About this item
                            </h4>
                            <ul>
                                <li *ngFor="let descption of product.description"> {{descption.desc}}</li>
                            </ul>
                            <div class="addto-cart" fxLayout="row">
                                <!-- <button>
                                    <mat-icon>add_shopping_cart</mat-icon>Add to Cart
                                </button> -->
                                <button class="buy">
                                    <a target="blank" href="{{product.productLink}}">
                                        <mat-icon>play_arrow</mat-icon>Buy Now
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="price-review">
                        <div class="price-cart">
                            <div class="start" *ngFor="let review of product.reviews">
                                <div class="img" fxLayout="row">
                                    <img src={{review.userImage}}>
                                    <b> {{review.userName}} </b>
                                </div>
                                <div class="star">
                                    <div class="review">
                                        <mat-icon>star</mat-icon>
                                        <mat-icon>star</mat-icon>
                                        <mat-icon>star</mat-icon>
                                        <mat-icon>star</mat-icon>
                                        <mat-icon>star</mat-icon>
                                    </div>
                                    <label> {{review.rating}}/5</label>

                                    <div class="reviewd">
                                        <p> {{review.review}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
    </div>
</section>