
//   <!----top-line-->
.category-amazon{
    margin: 10px auto 0pc;
    width: 100%;
    height: 55px;
}
.ft{
    min-height: 100vh;
    padding: 15pc 0 0;

}
.category{
    min-height: 100vh;
}
.top-line {
    margin: 0 auto;
}
.single-line {
    display: flex;
    align-items: center;
    padding: 0px 1pc;

}
.single-line b {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #5e5e5e;

}
.single-line mat-icon {
    font-size: 15px;
    height: auto;
    width: 25px;
    text-align: center;
    color: #5e5e5e;
    position: relative;
    top: 1px;
}
.category {
    margin: 0 auto;
}
.text h3 {
    font-family: inter;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    padding: 0px 0px 6px;
    margin-bottom: 0px;
}
.text ul {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 2.4pc;
}
.text ul li {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    padding: 4px 0;
}
.price {
    padding: 4px 10px 4px 0px;
    font-family: inter;
    font-weight: 500;
    color: #45d7eb;
    font-size: 12px;
}
.price u {
    text-decoration: line-through;
    color: #999696;
}
.star mat-icon {
    width: auto;
    color: #ffc400;
    font-size: 11px;
    margin: 1px;
    position: relative;
    top: 5px;
}
.product-amazonall {
    flex-wrap: wrap;
}
.product {
    box-shadow: 1px 1px 6px 0px #ddd;
    padding: 2pc 2pc 0.5pc;
    border-radius: 6px;
    background: #fff;

}
.product-amazon {
    width: 100%;
    margin: 10px
}
.addto-cart button {
    border: 0;
    background: #4571eb;
    padding: 12px 2pc 12px;
    border-radius: 27px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    margin: 14px 13px 15px;
    font-size: 12px;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-weight: 500;
}
.addto-cart button a{
    color: #fff;
    text-decoration: none;
}

.addto-cart .buy{
    background: #ffc800;

}
.addto-cart {
    margin: 1pc auto;
    place-content: center;
    /* align-items: center; */
}
.addto-cart button mat-icon{
    font-size: 14px;
    height: auto;
    width: auto;
    position: relative;
    left: -3px;
    top: 4.4px;
}
.star {
    align-items: center;
}
.viewer b {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #c2bdbd;
}
.start {
    padding: 10px 0px 10px 0px;
}
.img a{
    margin: 0 auto;
    display: flex;
    place-content: center;
    align-items: center;
}
.star mat-icon {
    width: auto;
    color: #ffc400;
    font-size: 11px;
    margin: 1px;
    position: relative;
    top: 0px;
    height: auto;
}
.reviewd p {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 20px;
}
.img {
    display: flex;
    align-items: flex-start;
    place-content: flex-start;
}
.start .img img {
    width: 20px;
}
.img b {
    font-family: "Open Sans", sans-serif;
    padding: 0px 4px;
    font-weight: 600;
    font-size: 14px
}
.text {
    padding: 0px 1.5pc;
}
.single-line .home{
    cursor: pointer;
}
.price-cart {
    padding: 0px 1.5pc;
}
.price-review {
    /* border-top: 2px solid #ffc93d; */
    /* margin: 1pc 0; */
    /* box-shadow: 1px 1px 6px 0px #ddd; */
    padding: 2pc 0pc 2pc;
}
.text h4 {
    font-family: "Open Sans", sans-serif;
    padding: 10px 4px 0;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    display: flex;
    align-items: center;
}
.text h4 mat-icon {
    font-size: 16px;
    height: auto;
    width: 20px;
}
.item-ad .heading {
    display: flex;
}
.item-ad .heading b {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;

}
.item-ad {
    padding: 15px 0 6px;
    border-bottom: 1px solid #e9e9e9;
}
.item-ad .heading {
    display: flex;
    height: 30px;
    line-height: 30px;
}
.item-ad .heading p {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #7e7e7e;
}
section.home.amazonhome1 .text{
    padding: 0;
}
section.home.amazonhome1 .addto-cart button {
    padding: 12px 1pc 12px;
    margin: 14px 5px 15px;
}
section.home.amazonhome2 .addto-cart button {
    padding: 12px 1.6pc 12px;
    margin: 14px 5px 15px;
}
section.home.amazonhome1 .top-line {
    width: 90%;
}
section.home.amazonhome2 .top-line {
    width: 90%;
}
section.home.amazonhome1  .single-line {
    padding: 0px 0pc;
}

.ft{
    margin: 0 auto;
}

.img img {
    height: auto;
    width: 70%;
    margin: 0.5pc 0;
}
.price-review .price-cart .img {
    align-items: center;
}
section.home.amazonhome1 .product {
    padding: 2pc 1pc 0.5pc;
}