.header {
    margin: auto;
}
section.amazonfooter {
    background: black;
    margin-top:0pc;
}
section.amazonfooter p {
    margin: 0;
    text-align: center;
    font-family: open sans-serif;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    display: block;
    width: 100%;
    color: #fff;
    padding: 11px 0 7px;
    font-size: 13px;
    letter-spacing: 0.5px;
}
section.amazonfooter.amazonhome1 {
    margin: 0;
}


section.mobile-amazonfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    z-index: 1;
    height: 43px;
    box-shadow: 1px -2px 7px 1px #ddd;
}
.mobile-footer {
    width: 100%;
}
.mobile-footer ul{
    display: flex;
    width: 100%;
    padding: 0;
    list-style: none;
}
.mobile-footer ul li {
    width: 25%;
    text-align: center;
}
.mobile-footer ul li mat-icon {
    font-size: 30px;
}